*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    font-family: "proxima-nova", sans-serif;
    font-size: 12px;
    font: weight 300;
    background-color: #fff;
    overflow: scroll;
}

/* global header*/
header{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    z-index: 500;
    background-color: #fff;
    text-align: center;
}
/* ?global header*/

/*??*/
header .trigger{
    width: 100%;
    height: 100%;
    text-align: left;
    position: relative;
    z-index: 102;    
}
/*??*/


/* navbar */
header nav{
    width: 100%;
    margin-left: 2%;
}

header .nav-content ul{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 650;
    text-transform: uppercase;
}

header nav ul li{
    display: inline-block;
    margin-bottom: 2em;
}

header nav a, a:link{
    text-decoration: none;
    color: #000;
}

/* ?navbar */

/* nav hover effect*/
header nav ul li a{
    position:relative;
}

header nav ul li a,
header nav ul li a:after{
    transition: .2s;
}

header nav ul li a::after{
    content:'';
    position: absolute;
    top: 30%;
    left: 0;
    width: 0%;
    height: 0px;
    border-top: 4px solid #000;
}

header nav ul li a:hover::after{
    width: 100%;
}

header nav ul li.socicon a::after{
    display: none;
}

/* ?nav hover effect*/

header .trigger .logo{
    width: 80%;
    margin-left: 2%;
    display: inline-block;
    vertical-align: middle;
}

header .trigger .logo img{
    width: 70px;
    height: 70px;
}

a img{
    border: 0;
    display: block;
}

header .trigger .menuBtn{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    float: right;
    margin-right: 2%;
    margin-top: 28px;
    cursor: pointer;
    -moz-transform: rotate(-45deg);
    -moz-transition: 3s;
}

header .trigger .menuBtn .line{
    position: relative;
    top: 0px;
    right: 0px;
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    background-color: #000;
}

main{
    position: relative;
    min-height: 100%;
    margin-top: 71px;
    margin-bottom: 80px;
}

section{
    padding-top: 300px;
    padding-bottom: 90px;
}

/* left article #1*/
.overview main section h1{
    color: #000;
    font-weight: 300;
    line-height: 1.6;
    padding-bottom: 1.5em;
    letter-spacing: 0.06em;
}


.overview .col1, .overview .col2{
    display: block;
    width: 80%;
    max-width: 700px;
    margin: 0.5em auto 1em;
}

.bioPic{
    width: 35%;
    height: auto;
    margin-right: 5%;
    border-radius: 20%;
    padding: 0.7em;
}

.overview .col1 .inner{
    width: 60%;
    padding-top: 0.7em;
}

.v_top{
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
}
/* ? left article*/


/* right article */
.skills {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 23px 5% 11px 5%;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: rgb(15, 14, 14);   
}

.skills h1{
    text-transform: uppercase;
}

.skills ul li{
    margin-bottom: 1em;
}
/* ? right article */

/* footer */
footer{
    background-color:#000;
    color: #fff;
}

footer .inner{
    position: relative;
    width: 100%;
    height: 80px;
}

footer ul{
    position: relative;
    top: 30%;
    left: 2%;
    list-style-type: none;
    text-align: left;
    text-transform: uppercase;
}

footer ul li{
    margin-right: 2%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .05pm;
    text-decoration:none;
    color: #fff; 
}

footer p{
    position: absolute;
    top: 30%;
    right: 2%;
    letter-spacing: 0;
    font-size: 12px;
    color: #969696;
}
footer a, a:link{
    text-decoration: none;
    color: #fff;
}
/* ? footer */

.v_middle{
    display: inline-block;
    vertical-align: middle;
}